header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ee700afd;
  background-image: url("https://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png");
  /* Adjusting header for fixed navigation bar */
  margin-top: 120px;
  z-index: 0;
}
.name{
 color: azure;
 justify-content: center;
}
.not-bold {
  font-weight: normal;
}