nav {
  height: 120px;
  width: auto;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweeter-font {
  font-family: 'Bungee';
  font-size: 30px;
}